<button class="btn btn-success w-20" *ngIf="isDoctor" [routerLink]="['/medPlan/insert/', patientId]">Add new Med Plan</button>
<table class="table table-striped">
  <thead>
    <tr>
    <th>Drugs</th>
    <th>Intake Count</th>
    <th>Intake Interval</th>
    <th>Start Hour</th>
    <th>Start Date</th>
    <th>End Date</th>
    </tr>
  </thead>
  <tbody>
<ng-container *ngFor="let medPlan of medPlans">
  <tr>
    <ng-container *ngFor="let drug of medPlan.drugs">
        <td >
             {{drug.name}},
        </td>
    </ng-container>

  <td>{{ medPlan.intakeCount }}</td>
   <td>{{medPlan.intakeInterval}}</td>
   <td>{{medPlan.startHour}}</td>
   <td>{{medPlan.startDate}}</td>
   <td>{{medPlan.endDate}}</td>
   <!-- <button id="remove" (click)="deleteRow(drug)" class="btn btn-danger fa fa-trash"></button> -->
  </tr>
</ng-container>

</tbody>
</table>
