<div *ngIf="!isInsert" class="container mt-3 w-25">
  <h1>
    Edit Drug
  </h1>

  <form #editForm="ngForm" id="editForm">

    <div>
      <strong>Name:</strong>
      <input type="text" class="form-control" name="name" [(ngModel)]="drug.name">
    </div>
    <div>
      <strong>Dosage:</strong>
      <input type="text" class="form-control" name="dosage" [(ngModel)]="drug.dosage">
    </div>
    <div>
      <strong>Side Effects:</strong>
      <input type="text" class="form-control" name="sideEffects" [(ngModel)]="drug.sideEffects">
    </div>

    <div class="p-2">
      <button form="editForm" class="btn btn-success btn-block" (click)='updateDrug()'>Save Changes</button>
      <button form="editForm" class="btn btn-light btn-block" [routerLink]="['/drug']">Cancel</button>
    </div>
  </form>

</div>


<div *ngIf="isInsert" class="container mt-3 w-25">
  <h1>
    Insert Drug
  </h1>

  <form #insertForm="ngForm" id="insertForm">

    <div>
      <strong>Name:</strong>
      <input type="text" class="form-control" name="name" [(ngModel)]="drugToInsert.name">
    </div>
    <div>
      <strong>Dosage:</strong>
      <input type="text" class="form-control" name="dosage" [(ngModel)]="drugToInsert.dosage">
    </div>
    <div>
      <strong>Side Effects:</strong>
      <input type="text" class="form-control" name="sideEffects" [(ngModel)]="drugToInsert.sideEffects">
    </div>

    <div class="p-2">
      <button form="insertForm" class="btn btn-success btn-block" (click)='insertDrug()'>Insert</button>
      <button form="insertForm" class="btn btn-light btn-block" [routerLink]="['/drug']">Cancel</button>
    </div>
  </form>
</div>
